#presentacion {
    background-image: url(../img/inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    display: flex;
    height: 736px;
    justify-content: center;
}

footer p {
    padding: 5%;
}

.contenedor-presentacion {
    background-color: rgba(255, 255, 255, 0.74);
}

#home {
    padding: 5.3% 0%;
}

.article_home {
    padding: 3%;
}

#boton {
    padding: 10px 10px 15px 10px;
    background-color: #ff7a7a;
    border-radius: 20px;
    width: 85px;
    color: white;
}

.imagen_home {
    border-radius: 20px;
}

#sobre_mi img {
    border-radius: 20px;
}

@media screen and (min-width:576px) {}


@media screen and (min-width:768px) {}